@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@500&display=swap');
*{
  font-family: 'Outfit', sans-serif;
}
body{
  background-image: url('../public/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}